#form{
    width: 500px;
}


body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

a:visited{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: none;
    color: black;
    background-color: transparent !important;
}
